# Aim : Perform Market Basket Analysis using Apriori algorithm.

In [1]:
# pip install mlxtend

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
data = [
    ["Milk","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
    ["Chips","Onion","Nutmeg","Kidney Beans","Eggs","Yogurt"],
    ["Milk","Corn Flour","Sweet Corn""Kidney Beans","Yogurt"],
    ["Milk","Onion","Spring Onion","Kidney Beans","Ice Cream","Eggs"]
]

In [4]:
data

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Chips', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Corn Flour', 'Sweet CornKidney Beans', 'Yogurt'],
 ['Milk', 'Onion', 'Spring Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [5]:
type(data)

list

In [6]:
te = TransactionEncoder() # encoding
te_array = te.fit(data).transform(data)
te_array

array([[False, False,  True, False,  True,  True,  True,  True, False,
        False,  True],
       [ True, False,  True, False,  True, False,  True,  True, False,
        False,  True],
       [False,  True, False, False, False,  True, False, False, False,
         True,  True],
       [False, False,  True,  True,  True,  True, False,  True,  True,
        False, False]])

In [7]:
df = pd.DataFrame(te_array,columns=te.columns_) # chips liya hai toh true nahi toh false
df

,Chips,Corn Flour,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Spring Onion,Sweet CornKidney Beans,Yogurt
0,False,False,True,False,True,True,True,True,False,False,True
1,True,False,True,False,True,False,True,True,False,False,True
2,False,True,False,False,False,True,False,False,False,True,True
3,False,False,True,True,True,True,False,True,True,False,False

In [8]:
freq_item = apriori(df,min_support=0.6,use_colnames=True) # support calculate hoga
freq_item

   support                     itemsets
0     0.75                       (Eggs)
1     0.75               (Kidney Beans)
2     0.75                       (Milk)
3     0.75                      (Onion)
4     0.75                     (Yogurt)
5     0.75         (Eggs, Kidney Beans)
6     0.75                (Onion, Eggs)
7     0.75        (Onion, Kidney Beans)
8     0.75  (Onion, Eggs, Kidney Beans)

In [9]:
# Association Rule Mining
arm = association_rules(freq_item,metric="confidence",min_threshold=0.7)
arm

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Kidney Beans),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
1,(Kidney Beans),(Eggs),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
2,(Onion),(Eggs),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
3,(Eggs),(Onion),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
4,(Onion),(Kidney Beans),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
5,(Kidney Beans),(Onion),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
6,"(Onion, Eggs)",(Kidney Beans),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
7,"(Onion, Kidney Beans)",(Eggs),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
8,"(Eggs, Kidney Beans)",(Onion),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
9,(Onion),"(Eggs, Kidney Beans)",0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
10,(Eggs),"(Onion, Kidney Beans)",0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
11,(Kidney Beans),"(Onion, Eggs)",0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0

In [10]:
rule = arm[['antecedents','consequents','support','confidence']] # to extract multiple columns [[]]

In [11]:
rule # it obeys commutative property 3+2 or 2+3 is same kidney-beans,eggs or eggs,kideney-beans

              antecedents            consequents  support  confidence
0                  (Eggs)         (Kidney Beans)     0.75         1.0
1          (Kidney Beans)                 (Eggs)     0.75         1.0
2                 (Onion)                 (Eggs)     0.75         1.0
3                  (Eggs)                (Onion)     0.75         1.0
4                 (Onion)         (Kidney Beans)     0.75         1.0
5          (Kidney Beans)                (Onion)     0.75         1.0
6           (Onion, Eggs)         (Kidney Beans)     0.75         1.0
7   (Onion, Kidney Beans)                 (Eggs)     0.75         1.0
8    (Eggs, Kidney Beans)                (Onion)     0.75         1.0
9                 (Onion)   (Eggs, Kidney Beans)     0.75         1.0
10                 (Eggs)  (Onion, Kidney Beans)     0.75         1.0
11         (Kidney Beans)          (Onion, Eggs)     0.75         1.0